/*
.chat-room{
  position:absolute;
  left:0%;
  top:0%;
  background-color: #34495e;
  height: 100%;
}
*/

.chat-room{
  position:relative;
  left:15px;
  top:-19px;
  background-color: #34495e;
  height: calc(100vh - 50px);
/*  z-index: -1;*/
}



hr{
  margin: 0px -15px 5px;
  border: 0;
  border:1px solid #2c3e50;
}

i{
  font-size: 1.5em;
}

i.light{
  -webkit-text-stroke: 1px #34495e;
}


button.add-room{
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}