<div>
  <div class="right"><app-login></app-login></div>
  <div class="col-xs-6 col-sm-9">
    <h2 class="light chat-title">{{roomsService.roomName}}</h2>
    
  </div>
</div>

  
  
<div *ngFor="let message of roomsService.messagesById | async" class="w3-animate-right">
  <div class="chat-room  col-xs-6 col-sm-2">
  </div>
  <div class="chat-room  col-xs-6 col-sm-7">
    <div class="alert alert-success message">
      <div>
        <img class="profile" src="./assets/profile.png">
      </div>
      <div>
        <p class="bold user-name">
          {{message.username}}
          <small class="light time">
            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>{{message.sent | date:'shortTime'}}
          </small>
        </p>
        <p>
          {{message.content}}
        </p>
      </div>
    </div>
  </div>

</div>



<!--
  <div class="alert alert-success message">
    <div>
      <img class=" my-profile profile" src="./assets/my-profile.png">
    </div>
    <div>
      <p>
        Lorem ipsum dolor sit amet onsectetur adipisicing eli dolor sit amet onsectetur adipisicing eli
      </p>
      <p>
        <small>
        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>10:30PM
      </small>
      </p>
    </div>
  </div>

  <div class="alert alert-success message">
    <div>
      <img class="profile" src="./assets/profile.png">
    </div>
    <div>
      <p>
        Lorem ipsum dolor sit amet, conuptatem impedit quo consectetur fugit inventore laborum dolorum, laudantium illo.
      </p>
      <p>
        <small>
        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>10:30PM
      </small>
      </p>
    </div>
  </div>
  -->