
  <div class="right"><app-login></app-login></div>
  <div >
    <h2 class="light ">{{roomsService.roomName}}</h2>
  </div>


  
<div class="show-messages">
<div *ngFor="let message of roomsService.messagesById | async" class="w3-animate-right">
  
    <div class="alert alert-success message ">
      <div>
        <img class="profile" src="./assets/profile.png">
      </div>
      <div>
        <p class="bold user-name">
          {{message.username}}
          <small class="light time">
            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>{{message.sent | date:'shortTime'}}
          </small>
        </p>
        <p>
          {{message.content}}
        </p>
      </div>
  </div>
</div>

</div>
<app-send-messages></app-send-messages>